@import './global';

.product-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.filter-container {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;

    select {
        padding: 5px;
        font-size: 1rem;
        border: 1px solid $light-gray;
        border-radius: 5px;
    }

    button {
        margin-right: 20px;
        padding: 10px;
        font-size: 1rem;
    }
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 800px;
    width: 100%;
    min-height: 60vh;

    .product-card {
        border: 1px solid $light-gray;
        padding: 10px;
        text-align: center;

        img {
            width: 150px;
            height: 150px;
            object-fit: contain;
        }

        h3 {
            font-size: 0.8rem;
        }

        p {
            font-size: 0.7rem;
            color: $gray;
        }

        button {
            padding: 3.3px;
            border: none;
            background-color: $blue;
            color: $white;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($blue, 10%);
            }
        }
    }
}

@media (min-width: 1024px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        padding: 0 100px;

        .product-card {
            width: 300px;
        }
    }
    .filter-container {
        margin-right: 90px;
    }
}

@media (max-width: 767px) {
    .product-list {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .filter-container {
        margin-right: 20px;
    }
}
