@import './global';

.filter-container {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;

    select {
        padding: 5px;
        font-size: 1rem;
        border: 1px solid $light-gray;
        border-radius: 5px;
    }

    button {
        margin-right: 20px;
        padding: 10px;
        font-size: 1rem;
    }
}
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    .product-card {
        border: 1px solid $light-gray;
        padding: 10px;
        text-align: center;

        img {
            width: 150px;
            height: 150px;
            object-fit: contain;
        }

        h3 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1rem;
            color: $gary;
        }

        button {
            padding: 3.3px;
            border: none;
            background-color: $blue;
            color: $white;
            cursor: pointer;
        }
    }
}
